// *************************************
//
//  Article Styles
//
// *************************************


.main-content {
    padding: 1.4em 0 1.4em 0;
}

.description {
   
    margin-top:0; 
    color:$gray;


}

.author {
   font-family:$titleFont-medium;
   color:black; 
   margin-top:0;
   margin-bottom:0;
   font-weight:bold;
   font-size:17px;
}

.date {
    @include font-size(17);
    margin-top:0;
}

hr {
    margin-top: 3.6em;
    margin-bottom: 3.6em;
    background-color:#c3c3c3;
}