// *************************************
//
//   Colors
//
// *************************************

//-----------------------
//   Main Colors
//-----------------------

$orange:  				#f78f2c;
$orange-dark: 			#ca8340;
$bluegreen:             #0e677b;
$bluegreen-dark:        #07343e;

$gray:                  #808280;
$dark-gray:             #3c3c3b;
$ptext:                 #252525;

$link-color:			#bb2dc8;

//$link-color:			#0e677b;






