// *************************************
//
//   Colors
//
// *************************************

//-----------------------
//   Main Colors
//-----------------------

$orange:  				#f78f2c;
$orange-dark: 			#ca8340;
$bluegreen:             #0e677b;
$bluegreen-dark:        #07343e;

$dark-gray:              #333332;

//$link-color:			#bb2dc8;

$link-color:			#0e677b;






