// *************************************
//
//  Article Styles
//
// *************************************


.description {
    font-style:italic;
    margin-top:0; 
    color:grey;

}

.author {

}

.date {

}