// *************************************
//
//  Menu
//
// *************************************



.menu {
   background-color:black;
}

.menuText {color:white;
    font-family:$contentFont-franklin;
    line-height:24px;
}



.menuIcon { 
    width:"20px";
    height:"20px";
    position:relative;}


.menuLine {fill:#FFFFFF;}

