<!DOCTYPE html>
<html>

<head>
	<!-- Favicon Link -->
	<link rel="Favicon" type="img/png" href="/images/favicon.png">

	<!-- Title Tag / Meta Desc -->
	{{ if .IsHome -}}
	<title>I Need to Ponder - Blog</title>
	<meta name="description" content="A blog dedicated to the power of ideas, the importance of clarity, the necessity
		of nuance, and a love for deeply thinking about the world.">
	{{- else -}}
	<title>{{ .Title }} – {{ .Site.Title }}</title>
	<meta name="description" content="{{.Params.Description}}">
	{{- end }}

	<!-- Analytics -->
	{{ template "_internal/google_analytics.html" . }}

	<!-- Open Graph stuff -->
	{{ template "_internal/opengraph.html" . }}

	<!-- CSS Link (links start in 'static' folder) -->

	<link rel="stylesheet" type="text/css" href="{{ "/css/styles.css" | absURL}}" />

	<!-- JS Link -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<!-- Enable Mobile Layouts -->
	<meta name="viewport" content="width=device-width">

	<!-- Schema? -->
</head>

<body>
	<nav class="menu">
		<div class="container">
			<!-- to scale svg, set viewbox numbers to match original size of svg. Then control with width and height -->
			<svg style="display:inline-block; vertical-align:top; margin-top:0;" class="" viewBox="0 0 22 18" width="16"
				height="20" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg">
				<path class="menuLine" d="M0,16h27v5H0V16z" />
				<path class="menuLine" d="M0,0h27v5H0V0z" />
				<path class="menuLine" d="M0,8h27v5H0V8z" />
			</svg>


			<span class="menuText" style=" margin-top:0;">Menu</span>
		</div>


	</nav>
	<header class="header">
		<div class="container">

			<h1 class="headerTitle"><a href="/">I Need To Ponder</a></h1>
			<p class="headerSubTitle">A blog dedicated to the power of ideas, the importance of clarity, the necessity
				of nuance, and a love for deeply thinking about the world. </p>
		</div>
	</header>