// *************************************
//
//  Footer
//
// *************************************


.footer {

    height:55px; 
    background-color:$dark-gray;
    color:white; 

    p {
        color:white;
        font-size: 14px;
        text-align:center;
        line-height:55px; 
    }
}