// *************************************
//
//  Menu
//
// *************************************



.menu {
   background-color:black;
   position:fixed;
   width:100%;
}

.menuText {
    color:white;
    font-family:$contentFont-franklin;
    line-height:24px;
    @include font-size(21);
    margin-left:6px;
}



.menuIcon { 
    width:"20px";
    height:"20px";
    position:relative;}


.menuLine {fill:#FFFFFF;}

