// *************************************
//
//  Pagination
//
// *************************************

.pagination {
    padding:$b-vspace-s $b-hspace $b-vspace $b-hspace;
    display:flex;
    
}

.pageButton {

    color:black; 
    font-family:$titleFont-medium;
    //font-family:$titleFont-bold;
    font-weight:bold;
    font-size: 18px; 
    border: 1px solid $gray;
    padding:6px;
    text-decoration:none;
    padding: 16px 20px 12px 20px;

    &:hover {
        text-decoration:underline;
    }

    &.l {
        margin-right:auto;
    }

    &.r {
        margin-left:auto;
    }

}