*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: inherit; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0; }

audio:not([controls]) {
  display: none;
  height: 0; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

[hidden], template {
  display: none; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

* + * {
  margin-top: 1.6em; }

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }

.col + .col {
  margin-top: 0; }

[class^="col-"], [class*=" col-"] {
  margin-top: 0; }

.menu + *, .menu {
  margin-top: 0; }

.section + .section {
  margin-top: 0; }

li + li {
  margin-top: 0; }

.pageButton {
  margin-top: 0; }

.homepage h1, .homepage h2, .homepage h3, .homepage h4, .homepage h5, .homepage h6 {
  margin-top: 0; }

.header__contact {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1em; }

.footer {
  margin-top: 0; }

.no-m {
  margin: 0; }

.mt {
  margin-top: 1.61em; }

.mt--xs {
  margin-top: 0.404em; }

.mt--s {
  margin-top: 0.809em; }

.mt--m {
  margin-top: 2.427em; }

.mt--l {
  margin-top: 3.23em; }

.mt--xl {
  margin-top: 4em; }

.mt--xxl {
  margin-top: 6em; }

.no-mt {
  margin-top: 0; }

.mb {
  margin-bottom: 1.61em; }

.mb--xs {
  margin-bottom: 0.404em; }

.mb--s {
  margin-bottom: 0.809em; }

.mb--m {
  margin-bottom: 2.427em; }

.mb--l {
  margin-bottom: 3.23em; }

.mb--xl {
  margin-bottom: 4em; }

.mb--xxl {
  margin-bottom: 6em; }

.no-mb {
  margin-bottom: 0; }

.mr {
  margin-right: 2%; }

.mr--s {
  margin-right: 1%; }

.mr--m {
  margin-right: 3%; }

.mr--l {
  margin-right: 4%; }

.mr--xl {
  margin-right: 6%; }

.mr--xxl {
  margin-right: 8%; }

.no-mr {
  margin-right: 0; }

.ml {
  margin-left: 2%; }

.ml--s {
  margin-left: 1%; }

.ml--m {
  margin-left: 3%; }

.ml--l {
  margin-left: 4%; }

.ml--xl {
  margin-left: 6%; }

.ml--xxl {
  margin-left: 8%; }

.no-ml {
  margin-left: 0; }

.mtb {
  margin-top: 1.61em;
  margin-bottom: 1.61em; }

.mtb--xs {
  margin-top: 0.404em;
  margin-bottom: 0.404em; }

.mtb--s {
  margin-top: 0.809em;
  margin-bottom: 0.809em; }

.mtb--m {
  margin-top: 2.427em;
  margin-bottom: 2.427em; }

.mtb--l {
  margin-top: 3.23em;
  margin-bottom: 3.23em; }

.mtb--xl {
  margin-top: 4em;
  margin-bottom: 4em; }

.mtb--xxl {
  margin-top: 6em;
  margin-bottom: 6em; }

.no-mtb {
  margin-top: 0;
  margin-bottom: 0; }

.p {
  padding: 1.61em; }

.p--xs {
  padding: 0.404em; }

.p--s {
  padding: 0.809em; }

.p--m {
  padding: 2.427em; }

.p--l {
  padding: 3.23em; }

.p--xl {
  padding: 4em; }

.p--xxl {
  padding: 6em; }

.no-p {
  padding: 0; }

.pt {
  padding-top: 1.61em; }

.pt--xs {
  padding-top: 0.404em; }

.pt--s {
  padding-top: 0.809em; }

.pt--m {
  padding-top: 2.427em; }

.pt--l {
  padding-top: 3.23em; }

.pt--xl {
  padding-top: 4em; }

.pt--xxl {
  padding-top: 6em; }

.no-pt {
  padding-top: 0; }

.pb {
  padding-bottom: 1.61em; }

.pb--xs {
  padding-bottom: 0.404em; }

.pb--s {
  padding-bottom: 0.809em; }

.pb--m {
  padding-bottom: 2.427em; }

.pb--l {
  padding-bottom: 3.23em; }

.pb--xl {
  padding-bottom: 4em; }

.pb--xxl {
  padding-bottom: 6em; }

.no-pb {
  padding-bottom: 0; }

.ptb {
  padding-top: 1.61em;
  padding-bottom: 1.61em; }

.ptb--xs {
  padding-top: 0.404em;
  padding-bottom: 0.404em; }

.ptb--s {
  padding-top: 0.809em;
  padding-bottom: 0.809em; }

.ptb--m {
  padding-top: 2.427em;
  padding-bottom: 2.427em; }

.ptb--l {
  padding-top: 3.23em;
  padding-bottom: 3.23em; }

.ptb--xl {
  padding-top: 4em;
  padding-bottom: 4em; }

.ptb--xxl {
  padding-top: 6em;
  padding-bottom: 6em; }

.no-ptb {
  padding-top: 0;
  padding-bottom: 0; }

.pr {
  padding-right: 2%; }

.pr--s {
  padding-right: 1%; }

.pr--m {
  padding-right: 3%; }

.pr--l {
  padding-right: 4%; }

.pr--xl {
  padding-right: 6%; }

.pr--xxl {
  padding-right: 8%; }

.no-pr {
  padding-right: 0; }

.pl {
  padding-left: 2%; }

.pl--s {
  padding-left: 1%; }

.pl--m {
  padding-left: 3%; }

.pl--l {
  padding-left: 4%; }

.pl--xl {
  padding-left: 6%; }

.pl--xxl {
  padding-left: 8%; }

.no-pl {
  padding-left: 0; }

.plr {
  padding-left: 2%;
  padding-right: 2%; }

.plr--s {
  padding-left: 1%;
  padding-right: 1%; }

.plr--m {
  padding-left: 3%;
  padding-right: 3%; }

.plr--l {
  padding-left: 4%;
  padding-right: 4%; }

.plr--xl {
  padding-left: 6%;
  padding-right: 6%; }

.plr--xxl {
  padding-left: 8%;
  padding-right: 8%; }

.no-plr {
  padding-left: 0;
  padding-right: 0; }

@media only screen and (min-width: 980px) {
  .desktop-no-pt {
    padding-top: 0; }

  .desktop-pt {
    padding-top: 1.61em; }

  .desktop-pt--m {
    padding-top: 2.427em; }

  .desktop-pb {
    padding-bottom: 1.61em; }

  .desktop-mb--s {
    margin-bottom: 0.809em; }

  .desktop-mb--xs {
    margin-bottom: 0.404em; } }
@font-face {
  font-family: 'fauxt-bold';
  src: url("../fonts/fauxt-bold.woff2") format("woff2"), url("../fonts/fauxt-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fauxt-medium';
  src: url("../fonts/fauxt-medium-webfont.woff2") format("woff2"), url("../fonts/fauxt-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'franklingothic-book';
  src: url("../fonts/franklingothic-book-webfont.woff2") format("woff2"), url("../fonts/franklingothic-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 16pxpx;
  font-size: 1pxrem;
  line-height: 1.6em; }

p, ul, ol {
  font-family: "franklingothic-book", arial, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 31px;
  line-height: 1.9375rem; }

li ul, li ol {
  margin-top: 1.2em; }

a {
  color: #bb2dc8;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "fauxt-medium", arial, sans-serif; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: #333332; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      text-decoration: underline; }

h1 {
  font-size: 40px;
  font-size: 2.5rem; }

h2 {
  font-size: 32px;
  font-size: 2rem; }

h3 {
  font-size: 23px;
  font-size: 1.4375rem; }

b, strong, .strong {
  font-weight: 700; }

em, .em {
  font-style: italic; }

abbr[title], .abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

small, .small {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem; }

mark, .mark {
  background-color: #ff0;
  color: #000; }

sub, .sub, sup, .sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub, .sub {
  bottom: -0.25em; }

sup, .sup {
  top: -0.5em; }

del, .del {
  text-decoration: line-through; }

figure {
  margin: 1em 40px; }

hr, .hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  background: #eee;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px; }

.header {
  background: black url("/images/bg-image.jpg") repeat-x center;
  background-color: black;
  padding: 2.427em 0 2.427em 0; }

.headerTitle {
  text-align: center;
  font-size: 60px;
  font-family: "fauxt-bold", arial, sans-serif;
  text-transform: uppercase;
  color: white;
  margin: 0; }

.headerSubTitle {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 28px;
  line-height: 1.75rem;
  text-align: center;
  color: #89bdcc;
  font-style: italic;
  margin-top: 1rem; }

.menu {
  background-color: black;
  position: fixed;
  width: 100%;
  display: none; }

.menuText {
  color: white;
  font-family: "franklingothic-book", arial, sans-serif;
  line-height: 24px;
  font-size: 21px;
  font-size: 1.3125rem;
  margin-left: 6px; }

.menuIcon {
  width: "20px";
  height: "20px";
  position: relative; }

.menuLine {
  fill: #FFFFFF; }

a {
  color: #bb2dc8; }

.description {
  font-style: italic;
  margin-top: 0;
  color: grey; }

.author {
  font-family: "fauxt-medium", arial, sans-serif;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold; }

.date {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0; }

hr {
  margin-top: 2.6rem;
  background-color: #c3c3c3; }

.pagination {
  padding: 0.809em 2% 1.61em 2%;
  display: flex; }

.pageButton {
  color: black;
  font-family: "fauxt-medium", arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid black;
  padding: 6px;
  text-decoration: none; }
  .pageButton:hover {
    text-decoration: underline; }
  .pageButton.l {
    margin-right: auto; }
  .pageButton.r {
    margin-left: auto; }

.footer {
  height: 55px;
  background-color: #333332;
  color: white; }
  .footer p {
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 55px; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.no-float {
  float: none; }

.no-background {
  background: transparent; }

.no-border {
  border: 0; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

.font-100 {
  font-weight: 100; }

.font-200 {
  font-weight: 200; }

.font-300 {
  font-weight: 300; }

.font-400 {
  font-weight: 400; }

.font-500 {
  font-weight: 500; }

.font-600 {
  font-weight: 600; }

.font-700 {
  font-weight: 700; }

.font-800 {
  font-weight: 800; }

.font-900 {
  font-weight: 900; }

.font-normal {
  font-style: normal; }

.font-italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .center-text {
  text-align: center; }

.text-justify {
  text-align: justify; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.static {
  position: static; }

.fixed {
  position: fixed; }

.none {
  display: none; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.flex-space-around {
  justify-content: space-around; }

.flex-space-between {
  justify-content: space-between; }

.flex-start {
  justify-content: flex-start; }

.flex-center {
  justify-content: center; }

.flex-end {
  justify-content: flex-end; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-nowrap {
  flex-wrap: nowrap; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list-unstyled li {
    margin: 0;
    padding: 0; }

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list-inline li {
    margin: 0;
    padding: 0;
    display: inline-block; }

.img-fluid {
  max-width: 100%; }

.field {
  width: 100%; }

.form-group {
  overflow: hidden; }
  .form-group label {
    display: inline-block;
    padding-top: 8px; }

.disabled, [disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .5; }

.checkbox,
.radio {
  display: inline-block;
  position: relative; }
  .checkbox label,
  .radio label {
    padding-left: 20px;
    padding-top: 0;
    display: inline-block; }
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"],
  .radio input[type="checkbox"],
  .radio input[type="radio"] {
    position: absolute;
    top: 4px;
    left: 0; }

.select {
  position: relative;
  display: block; }
  .select:before {
    content: "";
    border: 6px solid transparent;
    border-top-color: #676767;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    pointer-events: none;
    position: absolute; }
  .select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 0 10px;
    line-height: normal;
    display: block; }
  .select select::-ms-expand {
    display: none; }
  .select select:-moz-focusring {
    color: transparent; }

.animation-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@media only screen and (min-width: 740px) {
  .no-float-m {
    float: none; }

  .no-padding-m {
    padding: 0; }

  .no-margin-m {
    margin: 0; }

  .relative-m {
    position: relative; }

  .absolute-m {
    position: absolute; }

  .static-m {
    position: static; }

  .fixed-m {
    position: fixed; }

  .none-m {
    display: none; }

  .block-m {
    display: block; }

  .inline-block-m {
    display: inline-block; }

  .inline-m {
    display: inline; }

  .flex-m {
    display: flex; }

  .flex-row-m {
    flex-direction: row; }

  .flex-column-m {
    flex-direction: column; }

  .flex-space-around-m {
    justify-content: space-around; }

  .flex-space-between-m {
    justify-content: space-between; }

  .flex-start-m {
    justify-content: flex-start; }

  .flex-center-m {
    justify-content: center; }

  .flex-end-m {
    justify-content: flex-end; }

  .flex-wrap-m {
    flex-wrap: wrap; }

  .flex-nowrap-m {
    flex-wrap: nowrap; }

  .left-m {
    float: left; }

  .right-m {
    float: right; }

  .center-m {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .text-left-m {
    text-align: left; }

  .text-right-m {
    text-align: right; }

  .text-center-m {
    text-align: center; }

  .text-justify-m {
    text-align: justify; }

  .no-col-m {
    width: auto;
    float: none; }

  .no-push-m, .no-pull-m {
    left: 0; } }
@media only screen and (min-width: 980px) {
  .no-float-l {
    float: none; }

  .no-padding-l {
    padding: 0; }

  .no-margin-l {
    margin: 0; }

  .relative-l {
    position: relative; }

  .absolute-l {
    position: absolute; }

  .static-l {
    position: static; }

  .fixed-l {
    position: fixed; }

  .none-l {
    display: none; }

  .block-l {
    display: block; }

  .inline-block-l {
    display: inline-block; }

  .inline-l {
    display: inline; }

  .flex-l {
    display: flex; }

  .flex-row-l {
    flex-direction: row; }

  .flex-column-l {
    flex-direction: column; }

  .flex-space-around-l {
    justify-content: space-around; }

  .flex-space-between-l {
    justify-content: space-between; }

  .flex-start-l {
    justify-content: flex-start; }

  .flex-center-l {
    justify-content: center; }

  .flex-end-l {
    justify-content: flex-end; }

  .flex-wrap-l {
    flex-wrap: wrap; }

  .flex-nowrap-l {
    flex-wrap: nowrap; }

  .left-l {
    float: left; }

  .right-l {
    float: right; }

  .center-l {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .text-left-l {
    text-align: left; }

  .text-right-l {
    text-align: right; }

  .text-center-l {
    text-align: center; }

  .text-justify-l {
    text-align: justify; }

  .no-col-l {
    width: auto;
    float: none; }

  .no-push-l, .no-pull-l {
    left: 0; } }
@media only screen and (min-width: 1140px) {
  .no-float-xl {
    float: none; }

  .no-padding-xl {
    padding: 0; }

  .no-margin-xl {
    margin: 0; }

  .relative-xl {
    position: relative; }

  .absolute-xl {
    position: absolute; }

  .static-xl {
    position: static; }

  .fixed-xl {
    position: fixed; }

  .none-xl {
    display: none; }

  .block-xl {
    display: block; }

  .inline-block-xl {
    display: inline-block; }

  .inline-xl {
    display: inline; }

  .flex-xl {
    display: flex; }

  .flex-row-xl {
    flex-direction: row; }

  .flex-column-xl {
    flex-direction: column; }

  .flex-space-around-xl {
    justify-content: space-around; }

  .flex-space-between-xl {
    justify-content: space-between; }

  .flex-start-xl {
    justify-content: flex-start; }

  .flex-center-xl {
    justify-content: center; }

  .flex-end-xl {
    justify-content: flex-end; }

  .flex-wrap-xl {
    flex-wrap: wrap; }

  .flex-nowrap-xl {
    flex-wrap: nowrap; }

  .left-xl {
    float: left; }

  .right-xl {
    float: right; }

  .center-xl {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .text-left-xl {
    text-align: left; }

  .text-right-xl {
    text-align: right; }

  .text-center-xl {
    text-align: center; }

  .text-justify-xl {
    text-align: justify; }

  .no-col-xl {
    width: auto;
    float: none; }

  .no-push-xl, .no-pull-xl {
    left: 0; } }
