{{ partial "header" . }}

<section class="main-content">
	<div class="container">

		{{ range (.Paginator 2).Pages }}
		<div class="article">
			<h1> <a href="{{ .Permalink }}">{{.Title}}</a></h1>
			<p class="description">{{.Params.Description}}</p>
			<p class="author">By {{.Params.Author}}</p>
			<p class="date">{{.Date.Format "Jan 1, 2006"}}</p>
			{{.Content}}
		</div>
		<hr>
		{{ end }}

	</div>
</section>
<section>
	<div class="container pagination">

		{{ if .Paginator.HasPrev }}
		<a class="pageButton l" href="{{ .Paginator.Prev.URL }}">
			< Newer Posts</a> {{ end }} {{ if .Paginator.HasNext }} <a class="pageButton r"
				href="{{ .Paginator.Next.URL }}">Older Posts >
		</a>
		{{ end }}
	</div>
</section>

{{ partial "footer" . }}